<!DOCTYPE html>
<html>
  <head>
    <title>Fullstack Ruby on Rails Developer</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <header id="main_navigation" class="clearfix">
      <%= link_to "Nayela Wickramasuriya", root_path, class: "name" %>
      <nav>
        <%= link_to "Articles", posts_path %>
        <%= link_to "Projects", projects_path %>
        <a href="contact.html">Contact</a>
      </nav>
    </header>

    <%= yield %>

    <footer id="main_footer">
      <p class="copyright">&copy  Nayela Wickramasuriya 2018</p>
      <nav>
        <a href="https://twitter.com/nayelawick" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://github.com/naywick" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/nayela-wickramasuriya/" target="_blank"><i class="fab fa-linkedin"></i></a>
      </nav>
    </footer>
  </body>
</html>
